<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .enterbtn {
            float: right;
            color: black;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".add-more").click(function () {
                var html = $(".copy").html();
                $(".after-add-more").after(html);
            });
            $("body").on("click", ".remove", function () {
                $(this).parents(".control-group").remove();
            });
        });
    </script>
</head>

<body>

    <div class="container">

        <h2 style="text-align: center;">Technical Queries</h2><br>

        <form action="action.php">


            <div class="input-group control-group after-add-more">
                <input type="text"  #question name="addmore[]" class="form-control" placeholder="Type Queries Here">
                <div class="input-group-btn">
                    <button  (click) = postQuestion(question) class="btn btn-success add-more" type="button" style=background:blue><i
                            class="glyphicon glyphicon-plus"></i> Post Query</button>
                </div>
            </div>


        </form>


        <!-- Copy Fields -->
        <div class="copy hide">
            <div class="control-group input-group" style="margin-top:10px">
                <input type="text" name="addmore[]" class="form-control" placeholder="Type Queries Here">
                <div class="input-group-btn">
                    <button class="btn btn-danger remove" type="button"><i class="glyphicon glyphicon-remove"></i>
                        Remove</button>
                </div>
            </div>
        </div>

        <br><br><br>
        <div class="panel-group" id="accordion">

            <ul *ngFor='let ques of questionList,let x1 = index' class="list-group">
                <div class="panel panel-danger">
                    <div class="panel-heading" style="font-size:16px;">
                        <h3 class="panel-title">{{ques.description}}
                            <!-- <button class="enterbtn" type="button" (click)="AddAnswer()">Add Answer</button> <span>&nbsp;&nbsp; </span> -->

                            <!-- <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo" style=float:right>{{(ques.answers).length }} answers  &nbsp; &nbsp; </button> -->
                            <a data-toggle="collapse" (click)='onClick2(x1)' [attr.data-target]="y"
                                style="float:right; padding-right: 15px;">{{(ques.answers).length }} answers </a>

                        </h3>
                         <!-- <h1>{{x1}}</h1>  -->
                        <br>
                        <form action="action.php">


                            <div class="input-group control-group after-add-more">
                                <input type="text"  #answerText name="addmore[]" class="form-control"
                                    placeholder="Enter answer here">
                                <div class="input-group-btn">
                                    <button (click)="addAnswer(answerText,ques.question_id)"
                                    class="btn btn-success add-more" type="button"><i
                                            class="glyphicon glyphicon-plus"></i> Add Answer</button>
                                </div>
                            </div>


                        </form>


                        <!-- Copy Fields -->
                        <div class="copy hide">
                            <div class="control-group input-group" style="margin-top:10px">
                                <input type="text" name="addmore[]" class="form-control" placeholder="Enter Name Here">
                                <div class="input-group-btn">
                                    <button class="btn btn-danger remove" type="button"><i
                                            class="glyphicon glyphicon-remove"></i> Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div id="demo" class="collapse">
                                        <div class="panel-body">
                                            <form>
                                                <textarea rows="8" columns="30"></textarea>
                                            </form>
                                          </div>
                                      </div> -->



                    <div class="collapse" [id]="y1">
                        <div class="panel-body">




                            <ul *ngFor='let ans of ques.answers' class="list-group">


                                <div class="panel panel-default">

                                    <div class="panel-heading">
                                        <span>{{ans.description}}</span>
                                        <br>
                                        <i (click)="likeMethod(ans.answer_id)" class="fa fa-thumbs-up"></i>
                                        <span> {{ans.likes}} likes &nbsp; &nbsp; </span>
                                        <i (click)="dislikeMethod(ans.answer_id)" class="fa fa-thumbs-down"></i>
                                        <span> {{ans.dislikes}} dislikes </span>

                                    </div>
                                </div>
                            </ul>
                        </div>
                    </div>

                </div>


                <br>
            </ul>

        </div>
    </div>

</body>

</html>
